body{
  margin: 0;
  padding:0;
  height: 100vh;
}

#particles-js{
height: 100%;
/* background-color: #111170*/
background-size: cover;
background-position: center;
background-image:url("land6.jpg");
}
#particles1-js{
height: 100%;
/* background-color: #111170*/
background-size: cover;
background-position: center;

}

#particles2-js{
height: 100%;
/* background-color: #111170*/
background-size: cover;
background-position: center;
background-image:url("land1.jpg");
}

.content{
  position: absolute;
  top: 100px;
  left: 300px;
}
.content2{
    position: absolute;
    right:300px;
}
.heading{
  font-size: 100px;
  color:black;

}
.heading2{
    font-size: 70px;
    font-family:"Comic Sans MS", cursive, sans-serif ;
}
.sub-heading{
  font-size: 50px;
  color:white;
  text-align: center;
}
.typewriter{
  color: #fff;
  font-family: monospace;
  font-size: 50px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em ; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: transparent; }
}

.row{
  text-align: center;
}

.button {
    border-radius: 12px;
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.button1:hover {
    background-color: white;
    color: black;
}
/*
.panel {
    font-family: 'Source Sans Pro';
    font-size: 1.3em;
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 320px;
    background: #eee;
    top: 55%;
    left: 45%;
    margin: -110px 0 0 -100px;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 100;
}
*/
