{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'common_assests/materialize/css/materialize.css' %}"
          media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Edit Test Case</title>

    <style>
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #455a64;
            opacity: 1; /* Firefox */
            font-style: italic;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: red;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: red;
        }
    </style>

</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper cyan darken-4">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="card grey lighten-2">
                <div class="card-content">
                    <form action="" method="post" enctype="multipart/form-data" id="test-case-form">
                        <div class="center-align">
                            <span class="card-title">Edit Test Case #{{ new_case_number }}</span>

                        </div>

                        <div style="display: none;">
                            {% csrf_token %}

                        </div>
                        <div class="input-field file-field">
                            <div class="row">
                                <div>
                                    <div class="btn col l2 m3 s4"
                                         id="fake_{{ test_case_form.input_file.id_for_label }}">
                                        Input File
                                        {#                                This is just a fake button. An event listner is added which activates real button#}
                                    </div>
                                </div>
                                <div>
                                    <div class="file-path-wrapper col l10 m9 s8">
                                        <input class="file-path validate" placeholder="unchanged" id="input-file-upload-path">
                                        {% if test_case_form.input_file.errors %}
                                            <span class="helper-text"
                                                  style="color: red; font-weight: bolder">{{ test_case_form.input_file.errors }}</span>
                                        {% endif %}
                                        <span class="helper-text">{{ test_case_form.input_file.help_text }}</span>
                                        {% if test_case_form.input_file.value.url %}
                                            <span class="helper-text">Currently : <a
                                                    href="{{ test_case_form.input_file.value.url }}"
                                                    target="_blank">{{ test_case_form.input_file.value }}</a></span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div style="display: none">
                                    {{ test_case_form.input_file }}

                                    <script>

                                        document.getElementById('fake_{{ test_case_form.input_file.id_for_label }}').onclick = function () {
                                            console.log("open input file box");
                                            document.getElementById('{{ test_case_form.input_file.id_for_label }}').click();
                                        };

                                        document.getElementById('input-file-upload-path').onclick = function () {
                                            console.log("open input file box");
                                            document.getElementById('{{ test_case_form.input_file.id_for_label }}').click();
                                        }
                                    </script>
                                </div>

                            </div>
                        </div>


                        <div class="input-field file-field">
                            <div class="row">
                                <div class="btn col l2 m3 s4" id="fake_{{ test_case_form.output_file.id_for_label }}">
                                    Output File
                                    {#                                This is just a fake button. An event listner is added which activates real button#}
                                </div>
                                <div class="file-path-wrapper col l10 m9 s8">
                                    <input class="file-path validate" placeholder="unchanged" id="output-file-upload-path">
                                    {% if test_case_form.output_file.errors %}
                                        <span class="helper-text"
                                              style="color: red; font-weight: bolder">{{ test_case_form.output_file.errors }}</span>
                                    {% endif %}
                                    <span class="helper-text">{{ test_case_form.output_file.help_text }}</span>
                                    {% if test_case_form.output_file.value.url %}
                                        <span class="helper-text">Currently : <a
                                                href="{{ test_case_form.output_file.value.url }}"
                                                target="_blank">{{ test_case_form.output_file.value }}</a></span>
                                    {% endif %}
                                </div>
                                <div style="display: none">
                                    {{ test_case_form.output_file }}

                                    <script>

                                        document.getElementById('fake_{{ test_case_form.output_file.id_for_label }}').onclick = function () {
                                            console.log("open output file box");
                                            document.getElementById('{{ test_case_form.output_file.id_for_label }}').click();
                                        };

                                        document.getElementById('output-file-upload-path').onclick = function () {
                                            console.log("open input file box");
                                            document.getElementById('{{ test_case_form.output_file.id_for_label }}').click();
                                        }
                                    </script>
                                </div>


                            </div>
                        </div>

                        <div class="input-field">
                            {{ test_case_form.points|add_class:"validate"|attr:"required" }}
                            <label for="{{ test_case_form.points.id_for_label }}">Points</label>
                            {% if test_case_form.points.errors %}
                                <span class="helper-text"
                                      style="color: red; font-weight: bolder">{{ test_case_form.points.errors }}</span>
                            {% endif %}
                            <span class="helper-text">{{ test_case_form.points.help_text }}</span>

                        </div>


                        <div class="row center-align">
                            <button class="btn waves-effect waves-light" type="submit" name="action"
                                    id="final-submit-button"
                                    onclick="document.getElementById('test-case-form').submit()">
                                Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</section>
<script src="{% static 'common_assests/materialize/js/materialize.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{#<script src="http://malsup.github.com/jquery.form.js"></script>#}

<script>

</script>

</body>
</html>