{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Viewing the question</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'common_assests/materialize/css/materialize.css' %} "
          media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->


</head>
<body>


<section>
    <div class="row">
        <div class="col l7 offset-l1 s12 m8 " style="border: solid;">
            <div id="title">

            </div>
            <div id="description">
                <div class="row valign-wrapper no-padding">
                    <div class="col m8 s7">
                        <h4>Breaking Sticks </h4>
                    </div>
                    <div class="col m4 s5">
                        <i class="fas fa-trophy" style="font-size: larger; padding: 5px;"> Hard</i>
                        <i class="fas fa-trophy" style="font-size: larger; padding: 5px;"> 20</i>
                        <i class="fas fa-trophy" style="font-size: larger; padding: 5px;"> 40</i>
                    </div>
                </div>
            <div class="chip " >
                    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/5e/41de00794811e682cb918e3e406e4d/cs161logo.png?auto=format%2Ccompress&dpr=1&w=175&h=175&fit=fill&bg=FFF"
                         alt="Contact Person">
                    Algorithms
                </div>

            </div>
            <div id="input_format">
                <b>Input Format</b> <br>
                <p>
                    The first line contains one integer which is the number of chocolate sticks.
                    The second line contains space-separated integers , the lengths of the chocolate sticks.

                </p>
            </div>
            <div id="constraints">
                <b>Constraints</b> <br>
                <p>
                    1< n < 100
                </p>
            </div>
            <div id="output_format">
                <b>Output Format</b> <br>
                <p>
                    Print a single integer which is the maximum number of moves you can perform.
                </p>
            </div>
            <div id="sample_input">
                <b>Sample Input 0</b> <br>
                <p>
                    1
                    6
                </p>
            </div>
            <div id="sample_output">
                <b>Sample Output 0</b> <br>
                <p>
                    10
                </p>
            </div>
            <div id="explanation">
                <!--if any-->
                <b>Explanation</b> <br>
                <p>
                    You break a chocolate stick into three equal parts (1 move), then break each of them in half (3
                    moves), and then eat all six sticks (6 moves). This gives you 10 moves.
                </p>
            </div>
        </div>

        <div class="hide-on-small-only">
            <div class="col l3 m4">

                <div class="card teal lighten-5">
                    Difficulty: <br>
                    No. of views: <br>
                    No. of submissions: <br>
                </div>

                <div class="card teal lighten-5">
                    <div class="card-content">
                    <span class="card-title center">
                        Try Solving
                    </span>

                        Language: <br>
                        <span style="display: none;"> <input type="file" id="uploadbutton" value="Upload"> <br></span>
                        File input:
                        <button class="btn-small" onclick="document.getElementById('uploadbutton').click()">Upload
                        </button>
                        <input type="submit" value="Submit">
                    </div>
                </div>


            </div>
        </div>

        <div class="hide-on-med-and-up">
            <div class="col s12">



                <div class="card teal lighten-5">
                    Language: <br>
                    File input: <input
                        type="submit" value=Upload"><br>
                    <input type="submit" value="Submit">
                </div>


            </div>
        </div>

    </div>
    <div class="row">
        <div id="disqus_thread" class="col l7 offset-l1 s12 m8"></div>
    </div>
    <script>

        /**
         *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
            this.page.url = 'http://localhost:8000/questions/question';  // Replace PAGE_URL with your page's canonical URL variable
            //this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://codinghub-iiits.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>

    <div>Count:<a href="#disqus_thread"></a></div>
    <script id="dsq-count-scr" src="//codinghub-iiits.disqus.com/count.js" async></script>


</section>


<script type="text/javascript" src="{% static 'common_assests/materialize/js/materialize.js' %}"></script>
</body>
</html>