{% extends 'main_page/nav.html' %}

{% load static %}

{% block custom_loaders %}
    {% load static %}
    {% load widget_tweaks %}
{% endblock %}


{% block title %}
    {{question.title}}
{% endblock %}



{% block custom_includes %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
              integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/default.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}



{% block main_content %}
    <section>

        <div class="row">
            <div class="col l7 offset-l1 s12 m8 ">
                <div class="card green lighten-5">
                    <div class="card-content" style="line-height: 2.3; font-size: 16px">

                        <div id="headings">
                            <div class="row valign-wrapper no-padding">
                                <div class="col m8 s7" id="title">
                                    <h4>{{ question.title }} </h4>
                                </div>
                                <div class="col m4 s5">
                                    <i class="fas fa-flag-checkered" style="font-size: larger; padding: 5px;"> {{question.difficulty}} </i>
                                    <i class="fas fa-eye" style="font-size: larger; padding: 5px;"> {{ question.view_count}} </i>
                                    <i class="fas fa-trophy" style="font-size: larger; padding: 5px;"> {{ question.submission_set.count }}</i><br>
                                    <div class="hide-on-med-and-up">
                                        <b>Author: <span style="color: blue">{{question.author}}</span></b>
                                    </div>

                                </div>
                            </div>
                            <div class="chip " align= "center" >
                                <img src="{{question.category.logo.url}}"
                                     alt="Contact Person">
                                {{question.category.name}}
                            </div>
                            <div id="description">
                                {{ question.description|safe }}
                                
                            </div>

                        </div>
                        <div id="input_format">
                            <b>Input Format</b> <br>
                            <p>
                                {{question.input_format}}

                            </p>
                        </div>
                        <div id="constraints">
                            <b>Constraints</b> <br>
                            <p>
                                {{question.constraints}}
                            </p>
                        </div>
                        <div id="output_format">
                            <b>Output Format</b> <br>
                            <p>
                                {{question.output_format}}
                            </p>
                        </div>
                        <div id="sample_input">
                            <b>Sample Input 0</b> <br>
                            <p>
                                {{question.sample_input}}
                            </p>
                        </div>
                        <div id="sample_output">
                            <b>Sample Output 0</b> <br>
                            <p>
                                {{question.sample_output}}
                            </p>
                        </div>
                        <div id="explanation">
                            <!--if any-->
                            <!--<b>Explanation</b> <br>-->
                            <p>
                                <!-- Will be added if necessary-->
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>


            <div class="hide-on-small-only">
                <div class="col l3 m4">

                    <div class="card teal lighten-5">
                        <div class="card-content" style="font-size: medium; padding: 20px;">
                        <b>Author: <span style="color: blue">{{question.author}}</span></b> <br>
                        <b>Difficulty: {{question.difficulty}}</b> <br>
                        <b>No. of views: {{ question.view_count}}</b> <br>
                        <b>No. of submissions: {{ question.submission_set.count }}</b> <br>
                        </div>
                    </div>

                    <div class="card" style="border: none;">
                        <div class="card-content" style="border: none;">


                            <span class="card-title center">
                                <a class="waves-effect waves-light btn modal-trigger btn-large" href="javascript:void(0);" data-target="solve">Solve</a> <br>
                            </span> 

                     
                        </div>
                    </div>


                </div>
            </div>

            <div class="hide-on-med-and-up">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">

                            <span class="card-title center">
                                <a class="waves-effect waves-light btn modal-trigger btn-large" href="javascript:void(0);" data-target="solve">Solve</a> <br>
                            </span>

                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col l7 offset-l1 s12 m8">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center hide-on-large-only"> Discussion </span>
                        <span class="card-title hide-on-med-and-down"> Discussion </span>
                        <div id="disqus_thread" ></div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="solve" class="modal bottom-sheet">
            <div class="modal-content center" style="font-size: medium; padding: 50px;">
                <h4>Solve it</h4>
                <form action="{% url 'questions:submit-solution' question.unique_code %}" method="post" id="solution_form" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="input-field">
                            {% comment %}
                            <select >
                              <option value="" disabled selected>Choose your option</option>
                              <option value="1">Python 2</option>
                              <option value="2">Python 3</option>
                            </select>
                            {% endcomment %}
                            {{ submission_form.language }}
                            <label>Select your preferred language:</label>
                      </div> 
                        File input:
                        <button class="btn-small" onclick="document.getElementById('id_code').click()">Upload
                        </button>
                        
                        <span style="display:none;">
                        {{ submission_form.code }}
                        </span>
                        </div>
                        <div class="modal-footer">
                          <a href="javascript:void(0);" class="modal-close waves-effect waves-green btn-flat" type="submit" onclick="document.getElementById('solution_form').submit()">Submit</a>
                        </div>
                </form>
          </div>


    </section>


{% endblock main_content %}

{% block custom_eof_scripts %}
    <script>
        var disqus_config = function () 
        {
            this.page.url = 'http://localhost:8000/questions/{{question.unique_code}}/view/';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = {{question.unique_code}} ; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://codecracker-iiits.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a>
    </noscript>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'common_assests/materialize/js/materialize.js' %}"></script>
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5beee4514e83990011fd89af&product=sticky-share-buttons' async='async'></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script>
         // Or with jQuery
        $(document).ready(function()
        {
            $('select').formSelect();
        });
        $(document).ready(function()
        {
            $('.modal').modal();
        });  
    </script>

{% endblock custom_eof_scripts %}