{% extends 'main_page/nav.html' %}

{% load static %}
{% load widget_tweaks %}

{% block custom_includes %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

{% endblock %}

{% block title %}
    Pie
{% endblock %}

{% block internal_styles %}

    <link rel="stylesheet" href="{% static 'apex charts/samples/assets/styles.css' %}">

    <style>
        #chart1 {

            max-width: 380px;
            margin: 35px auto;
        }
    </style>
{% endblock %}

{% block main_content %}
    <section>
        <div id="chart1">

        </div>

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

        <script>
            var options1 = {
                chart: {
                    width: 380,
                    type: 'pie',
                },
                labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],
                series: [44, 55, 13, 43, 22],
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }]
            }

            var chart1 = new ApexCharts(
                document.querySelector("#chart1"),
                options1
            );

            chart1.render();

        </script>
    </section>
{% endblock %}

