{% extends 'main_page/nav.html' %}

{% load static %}
{% load widget_tweaks %}

{% block custom_includes %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

{% endblock %}

{% block title %}
    <title>Area Chart - Datetime X-Axis</title>
{% endblock %}

{% block internal_styles %}
    <link rel="stylesheet" href="{% static 'apex_charts/samples/assets/styles.css' %}">
    <style>

        #chart {
            max-width: 650px;
            margin: 35px auto;
        }

        .toolbar {
            margin-left: 45px;
        }

        button {
            background: #fff;
            color: #222;
            border: 1px solid #e7e7e7;
            border-bottom: 2px solid #ddd;
            border-radius: 2px;
            padding: 4px 17px;
        }

        button.active {
            color: #fff;
            background: #008FFB;
            border: 1px solid blue;
            border-bottom: 2px solid blue;
        }

        button:focus {
            outline: 0;
        }
    </style>
{% endblock internal_styles %}


{% block main_content %}
    <section>

        <div id="chart">
            <div class="toolbar">
                <button id="one_month">1M</button>
                <button id="six_months">6M</button>
                <button id="one_year" class="active">1Y</button>
                <button id="ytd">YTD</button>
                <button id="all">ALL</button>
            </div>
            <div id="timeline-chart"></div>
        </div>
    </section>




    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src={% static "apex charts/samples/assets/series1000.js" %}></script>

    <script>
        var currentDate = new Date();

function convertDate(date) {
  var yyyy = date.getFullYear().toString();
  var mm = (date.getMonth()+1).toString();
  var dd  = date.getDate().toString();

  var mmChars = mm.split('');
  var ddChars = dd.split('');

  return   (ddChars[1]?dd:"0"+ddChars[0])+ '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' +yyyy;
}

    </script>

    <script>
        var options = {
            annotations: {
                yaxis: [{
                    y: 1,
                    borderColor: '#999',
                    label: {
                        show: true,
                        text: 'Support',
                        style: {
                            color: "#fff",
                            background: '#00E396'
                        }
                    }
                }],
                xaxis: [{
                    x: convertDate(currentDate),
                    borderColor: '#999',
                    yAxisIndex: 0,
                    label: {
                        show: true,
                        text: 'Rally',
                        style: {
                            color: "#fff",
                            background: '#775DD0'
                        }
                    }
                }]
            },
            chart: {
                type: 'area',
                height: 350,
            },
            dataLabels: {
                enabled: false
            },
            series: [{
                data: dataseries
            },

            ],
            markers: {
                size: 0,
                style: 'hollow',
            },
            xaxis: {
                type: 'datetime',
                min: convertDate(currentDate),
                tickAmount: 6,
            },
            tooltip: {
                x: {
                    format: 'dd MMM yyyy'
                }
            },
            fill: {
                type: 'gradient',
                gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.7,
                    opacityTo: 0.9,
                    stops: [0, 100]
                }
            },

        }

        var chart = new ApexCharts(
            document.querySelector("#timeline-chart"),
            options
        );

        chart.render();

        var resetCssClasses = function (activeEl) {
            var els = document.querySelectorAll("button");
            Array.prototype.forEach.call(els, function (el) {
                el.classList.remove('active');
            });

            activeEl.target.classList.add('active')
        }

        document.querySelector("#one_month").addEventListener('click', function (e) {
            resetCssClasses(e)
            chart.updateOptions({
                xaxis: {
                    min: new Date('28 Jan 2013').getTime(),
                    max: new Date('27 Feb 2013').getTime(),
                }
            })
        })

        document.querySelector("#six_months").addEventListener('click', function (e) {
            resetCssClasses(e)
            chart.updateOptions({
                xaxis: {
                    min: new Date('27 Sep 2012').getTime(),
                    max: new Date('27 Feb 2013').getTime(),
                }
            })
        })

        document.querySelector("#one_year").addEventListener('click', function (e) {
            resetCssClasses(e)
            chart.updateOptions({
                xaxis: {
                    min: new Date('27 Feb 2012').getTime(),
                    max: new Date('27 Feb 2013').getTime(),
                }
            })
        })

        document.querySelector("#ytd").addEventListener('click', function (e) {
            resetCssClasses(e)
            chart.updateOptions({
                xaxis: {
                    min: new Date('01 Jan 2013').getTime(),
                    max: new Date('27 Feb 2013').getTime(),
                }
            })
        })

        document.querySelector("#all").addEventListener('click', function (e) {
            resetCssClasses(e)
            chart.updateOptions({
                xaxis: {
                    min: undefined,
                    max: undefined,
                }
            })
        })

        document.querySelector("#ytd").addEventListener('click', function () {

        })
    </script>

{% endblock main_content %}

{% block custom_eof_scripts %}

    <script>
    var dataseries = {}
        function user_submission_date_stats(request.user)

        {
            console.log("requesting stats")

            $.ajax({
                type: 'GET',
                url: "{% url 'user-submission-stats' %}",
                data: {},
                dataType: 'json',
                success: function (result) {
                   dataseries = result

                }
            });
        };
                window.onload = function () {
                interval_id = setInterval(user_submission_date_stats, 2000);

            }

    </script>


{% endblock %}