<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>home_grid</title>

	<link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="css/demo.css" />
	<link rel="stylesheet" type="text/css" href="css/style2.css" />
	<script src="js/modernizr-custom.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>

<body class="demo-2">
	<div class="container-custom">
		<header class="codrops-header">

			<h1>CATEGORIES</h1>

		</header>
		<div class="content">
			<div class="grid ">
				<div class="grid__item" data-size="3000x2000">
					<a href="img/original/algo.jpg" class="img-wrap"><img src="img/thumbs/algo.jpg" alt="img06" />
						<div class="description description--grid">
							<h3>CATERGORY 1</h3>

						</div>
					</a>
				</div>
				<div class="grid__item" data-size="5184x3456">
					<a href="img/original/datastruct.jpg" class="img-wrap"><img src="img/thumbs/datastruct.jpg" alt="img07" />
						<div class="description description--grid">
							<h3>CATEGORY 2</h3>

						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1366x768">
					<a href="img/original/code4.jpg" class="img-wrap"><img src="img/thumbs/code4.jpg" alt="img08" />
						<div class="description description--grid">
							<h3>CATEGORY 3</h3>

						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1366x768">
					<a href="img/original/land5.jpg" class="img-wrap"><img src="img/thumbs/land5.jpg" alt="img09" />
						<div class="description description--grid">
							<h3>CATEGORY 4</h3>

						</div>
					</a>
				</div>
				<div class="grid__item" data-size="1366x768">
					<a href="img/original/code3.jpg" class="img-wrap"><img src="img/thumbs/code3.jpg" alt="img10" />
						<div class="description description--grid">
							<h3>CATEGORY 5</h3>

						</div>
					</a>
				</div>
				<div class="grid__item" data-size="3811x3337">
					<a href="img/original/graph.jpg" class="img-wrap"><img src="img/thumbs/graph.jpg" alt="img11" />
						<div class="description description--grid">
							<h3>CATEGORY 6</h3>

						</div>
					</a>
				</div>
                <div class="grid__item" data-size="5184x3456">
					<a href="img/original/land4.jpg" class="img-wrap"><img src="img/thumbs/land4.jpg" alt="img07" />
						<div class="description description--grid">
							<h3>CATEGORY 7</h3>

						</div>
					</a>
				</div>
                <div class="grid__item" data-size="5184x3456">
					<a href="img/original/appdev.jpg" class="img-wrap"><img src="img/thumbs/appdev.jpg" alt="img07" />
						<div class="description description--grid">
							<h3>CATEGORY 8</h3>

						</div>
					</a>
				</div>

			</div>
			<!-- /grid -->
			<div class="preview">
				<button class="action action--close"><i class="fa fa-times"></i><span class="text-hidden">Close</span></button>
				<div class="description description--preview"></div>
			</div>
			<!-- /preview -->
		</div>
		<!-- /content -->
        <div class="carousel_div">
            <header class="codrops-header">
			    <h1>CONTESTS</h1>
            </header>
            <div class="carousel">
            <a class="carousel-item" href="#"><img src="img/original/code4.jpg" ></a>
            <a class="carousel-item" href="#"><img src="img/original/code3.jpg" ></a>
            <a class="carousel-item" href="#"><img src="img/original/land4.jpg" ></a>
            <a class="carousel-item" href="#"><img src="img/original/land5.jpg" ></a>
            <a class="carousel-item" href="#"><img src="img/original/code4.jpg" ></a>
            </div>

        </div>





    </div>
	<!-- /container -->



	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/classie.js"></script>
	<script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $('.carousel').carousel({
        padding: 200
        });
        autoplay();
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 1500);
        }
    </script>

	<script>
		(function() {
			var support = { transitions: Modernizr.csstransitions },
				// transition end event name
				transEndEventNames = { 'WebkitTransition': 'webkitTransitionEnd', 'MozTransition': 'transitionend', 'OTransition': 'oTransitionEnd', 'msTransition': 'MSTransitionEnd', 'transition': 'transitionend' },
				transEndEventName = transEndEventNames[ Modernizr.prefixed( 'transition' ) ],
				onEndTransition = function( el, callback ) {
					var onEndCallbackFn = function( ev ) {
						if( support.transitions ) {
							if( ev.target !== this ) return;
							this.removeEventListener( transEndEventName, onEndCallbackFn );
						}
						if( callback && typeof callback === 'function' ) { callback.call(this); }
					};
					if( support.transitions ) {
						el.addEventListener( transEndEventName, onEndCallbackFn );
					}
					else {
						onEndCallbackFn();
					}
				};

			new GridFx(document.querySelector('.grid'), {
				imgPosition : {
					x : -0.5,
					y : 1
				},
				onOpenItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item !== el) {
							var delay = Math.floor(Math.random() * 50);
							el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
							el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
							el.style.transform = 'scale3d(0.1,0.1,1)';
							el.style.opacity = 0;
						}
					});
				},
				onCloseItem : function(instance, item) {
					instance.items.forEach(function(el) {
						if(item !== el) {
							el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
							el.style.transition = 'opacity .4s, transform .4s';
							el.style.WebkitTransform = 'scale3d(1,1,1)';
							el.style.transform = 'scale3d(1,1,1)';
							el.style.opacity = 1;

							onEndTransition(el, function() {
								el.style.transition = 'none';
								el.style.WebkitTransform = 'none';
							});
						}
					});
				}
			});
		})();
	</script>
</body>

</html>
