{% extends 'main_page/nav.html' %}
{% load static %}
{% block custom_includes %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'main_page/fonts/font-awesome-4.3.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/demo.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main_page/css/style2.css' %}"/>
    <script src="{% static 'main_page/js/modernizr-custom.js' %}"></script>
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}
{% block main_content %}

    <section>
        <div class="container-custom">
            <header class="codrops-header">

                <h4>CATEGORIES</h4>

            </header>
            <div class="content">
                <div class="grid ">
                    {% for category in categories %}
                        <a href='{% url "questions:browse" %}?category={{ category.id }}'>
                            <div class="grid__item" data-size="3000x2000"
                                 onclick="location.href='{% url "questions:browse" %}?category={{ category.id }}'">
                                <a href="{{ category.logo.url }}" class="img-wrap"><img
                                        src="{{ category.logo.url }}" alt="img06"/>
                                    <div class="description description--grid description-item">
                                        <h3 style="display: none">{{ category.title }}</h3>

                                    </div>
                                </a>
                            </div>
                        </a>
                    {% endfor %}
                    {% comment %}<div class="grid__item" data-size="5184x3456">
                        <a href="{% static 'main_page/img/original/datastruct.jpg' %}" class="img-wrap"><img
                                src="{% static 'main_page/img/thumbs/datastruct.jpg' %}" alt="img07"/>
                            <div class="description description--grid">
                                <h3>CATEGORY 2</h3>

                            </div>
                        </a>
                    </div>
                    <div class="grid__item" data-size="1366x768">
                        <a href="{% static 'main_page/img/original/code4.jpg' %}" class="img-wrap"><img
                                src="{% static 'main_page/img/thumbs/code4.jpg' %}" alt="img08"/>
                            <div class="description description--grid">
                                <h3>CATEGORY 3</h3>

                            </div>
                        </a>
                    </div>
                    <div class="grid__item" data-size="1366x768">
                        <a href="{% static 'main_page/img/original/land5.jpg' %}" class="img-wrap"><img
                                src="{% static 'main_page/img/thumbs/land5.jpg' %}" alt="img09"/>
                            <div class="description description--grid">
                                <h3>CATEGORY 4</h3>

                            </div>
                        </a>
                    </div>
                    <div class="grid__item" data-size="1366x768">
                        <a href="{% static 'main_page/img/original/code3.jpg' %}" class="img-wrap"><img
                                src="{% static 'main_page/img/thumbs/code3.jpg' %}" alt="img10"/>
                            <div class="description description--grid">
                                <h3>CATEGORY 5</h3>

                            </div>
                        </a>
                    </div>
                    <div class="grid__item" data-size="3811x3337">
                        <a href="{% static 'main_page/img/original/graph.jpg' %}" class="img-wrap"><img
                                src="{% static 'main_page/img/thumbs/graph.jpg' %}" alt="img11"/>
                            <div class="description description--grid">
                                <h3>CATEGORY 6</h3>

                            </div>
                        </a>
                    </div>
                    <div class="grid__item" data-size="5184x3456">
                        <a href="{% static 'main_page/img/original/land4.jpg' %}" class="img-wrap"><img
                                src="{% static 'main_page/img/thumbs/land4.jpg' %}" alt="img07"/>
                            <div class="description description--grid">
                                <h3>CATEGORY 7</h3>

                            </div>
                        </a>
                    </div>
                    <div class="grid__item" data-size="5184x3456">
                        <a href="{% static 'main_page/img/original/appdev.jpg' %}" class="img-wrap"><img
                                src="{% static 'main_page/img/thumbs/appdev.jpg' %}" alt="img07"/>
                            <div class="description description--grid">
                                <h3>CATEGORY 8</h3>

                            </div>
                        </a>
                    </div>{% endcomment %}

                </div>
                <!-- /grid -->
                <div class="preview">
                    <button class="action action--close" id="close-button"><i class="fa fa-times"></i><span
                            class="text-hidden">Close</span>
                    </button>
                    <div class="description description--preview"></div>
                </div>
                <!-- /preview -->
            </div>
            <!-- /content -->
            {% comment %}<div class="carousel_div">
                <header class="codrops-header">
                    <h1>CONTESTS</h1>
                </header>
                <div class="carousel">
                    <a class="carousel-item" href="#"><img src="{% static 'main_page/img/original/code4.jpg' %}"></a>
                    <a class="carousel-item" href="#"><img src="{% static 'main_page/img/original/code3.jpg' %}"></a>
                    <a class="carousel-item" href="#"><img src="{% static 'main_page/img/original/land4.jpg' %}"></a>
                    <a class="carousel-item" href="#"><img src="{% static 'main_page/img/original/land5.jpg' %}"></a>
                    <a class="carousel-item" href="#"><img src="{% static 'main_page/img/original/code4.jpg' %}"></a>
                </div>

            </div>{% endcomment %}


        </div>
        <!-- /container -->
    </section>
{% endblock %}
{% block custom_eof_scripts %}
    <script>
        $('.grid-item').each(function () {
            console.log("called");
            this.addEventListener('onclick', function () {
                console.log("called");
                $('.description-item').each(function () {
                    this.style.display = "block";
                });
            });
        });
        document.body.classList.add('demo-2')
    </script>
    <script src="{% static 'main_page/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'main_page/js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'main_page/js/classie.js' %}"></script>
    <script src="{% static 'main_page/js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'common_assests/materialize/js/materialize.js' %}"></script>
    <script>
        $('.carousel').carousel({
            padding: 200
        });
        autoplay();

        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 1500);
        }
    </script>

    <script>
        (function () {
            var support = {transitions: Modernizr.csstransitions},
                // transition end event name
                transEndEventNames = {
                    'WebkitTransition': 'webkitTransitionEnd',
                    'MozTransition': 'transitionend',
                    'OTransition': 'oTransitionEnd',
                    'msTransition': 'MSTransitionEnd',
                    'transition': 'transitionend'
                },
                transEndEventName = transEndEventNames[Modernizr.prefixed('transition')],
                onEndTransition = function (el, callback) {
                    var onEndCallbackFn = function (ev) {
                        if (support.transitions) {
                            if (ev.target !== this) return;
                            this.removeEventListener(transEndEventName, onEndCallbackFn);
                        }
                        if (callback && typeof callback === 'function') {
                            callback.call(this);
                        }
                    };
                    if (support.transitions) {
                        el.addEventListener(transEndEventName, onEndCallbackFn);
                    }
                    else {
                        onEndCallbackFn();
                    }
                };

            new GridFx(document.querySelector('.grid'), {
                imgPosition: {
                    x: -0.5,
                    y: 1
                },
                onOpenItem: function (instance, item) {
                    instance.items.forEach(function (el) {
                        if (item !== el) {
                            var delay = Math.floor(Math.random() * 50);
                            el.style.WebkitTransition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), -webkit-transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
                            el.style.transition = 'opacity .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1), transform .5s ' + delay + 'ms cubic-bezier(.7,0,.3,1)';
                            el.style.WebkitTransform = 'scale3d(0.1,0.1,1)';
                            el.style.transform = 'scale3d(0.1,0.1,1)';
                            el.style.opacity = 0;
                        }
                    });
                },
                onCloseItem: function (instance, item) {
                    instance.items.forEach(function (el) {
                        if (item !== el) {
                            el.style.WebkitTransition = 'opacity .4s, -webkit-transform .4s';
                            el.style.transition = 'opacity .4s, transform .4s';
                            el.style.WebkitTransform = 'scale3d(1,1,1)';
                            el.style.transform = 'scale3d(1,1,1)';
                            el.style.opacity = 1;

                            onEndTransition(el, function () {
                                el.style.transition = 'none';
                                el.style.WebkitTransform = 'none';
                            });
                        }
                    });
                }
            });
        })();
    </script>
    <script>
        $('.grid-item').each(function () {
            console.log("called");
            this.addEventListener('onclick', function () {
                console.log("called");
                $('.description-item').each(function () {
                    this.style.display = "block";
                });
            });
        });
    </script>
{% endblock %}

