{% extends 'main_page/nav.html' %}
{% load widget_tweaks %}
{% load static %}

{% block internal_styles %}
  <style>
    a:hover{
      text-decoration: underline;
    }

    body {
      background: linear-gradient(120deg, white 50%, white 50%);
    }

   /* entire container, keeps perspective */
   .flip-container {
       perspective: 1000px;
   }
       /* flip the pane when hovered */
   .flip-container:hover .flipper{
           transform: rotateX(180deg);
           transition: 1s;
       }
   .flip-container, .front, .back {
      position:relative;
       width: 100%;
       height: 200px;
   }
   /* flip speed goes here */
   .flipper {
       transition: 1.5s;
       transform-style: preserve-3d;
       position: relative;
   }
   /* hide back of pane during swap */
   .front, .back {
       backface-visibility: hidden;
       position: absolute;
       top: 0;
       left: 0;
   }
   /* front pane, placed above back */
   .front {
       z-index: 2;
       /* for firefox 31 */
       transform: rotateX(0deg);
   }
   /* back, initially hidden pane */
   .back {
       transform: translateY(-100%) rotateX(180deg);
   }

   #card:hover{
     transform: translateY(-4%);
     border-bottom: 4px solid #ff5252;
     transition: 0.5s;
   }

  </style>
{% endblock internal_styles %}


  {% block main_content %}
<main>
  <div class="container">
      <!--   Icon Section   -->
    <div class="row center">
      <h3 class="header center cyan-text text-darken-4">Categories</h3>
    </div>

    <!--All catergories displaying-->
    <div class="row">
      <!--Each Catergory-->
      <div class="col s12 l4">
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <div class="row">
                <div class="col s12 m12">
                    <div class="card-content black-text center">
                      <img src="{% static 'registration/img/data_structures.png' %}" style="width:100px; height:100px;" class="responsive-img">
                      <h6 class="center" style="color:#ff5252"><b>Category Name 1</b></h6>
                    </div>
                </div>
              </div>
            </div>
            <div class="back">
              <div class="row">
                <div class="col s12">
                    <p class="center"><a href="#">Card Title</a></p>
                    <p class="center grey-text text-darken-2">I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Another category-->
      <div class="col s12 l4">
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <div class="row">
                <div class="col s12 m12">
                    <div class="card-content black-text center">
                      <img src="{% static 'registration/img/algorithms.png' %}" style="width:100px; height:100px;" class="responsive-img">
                      <h6 class="center" style="color:#ff5252"><b>Category Name2</b></h6>
                    </div>
                </div>
              </div>
            </div>
            <div class="back">
              <div class="row">
                <div class="col s12">
                    <p class="center">Card Title</p>
                    <p class="center">I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Another category-->
      <div class="col s12 l4">
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <div class="row">
                <div class="col s12 m12">
                    <div class="card-content black-text center">
                      <img src="{% static 'registration/img/AI.png' %}" style="width:100px; height:100px;" class="responsive-img">
                      <h6 class="center" style="color:#ff5252"><b>Category Name3</b></h6>
                    </div>
                </div>
              </div>
            </div>
            <div class="back">
              <div class="row">
                <div class="col s12">
                    <p class="center">Card Title</p>
                    <p class="center">I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Another category-->
      <div class="col s12 l4">
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <div class="row">
                <div class="col s12 m12">
                    <div class="card-content black-text center">
                      <img src="{% static 'registration/img/math.png' %}" style="width:100px; height:100px;" class="responsive-img">
                      <h6 class="center" style="color:#ff5252"><b>Category Name3</b></h6>
                    </div>
                </div>
              </div>
            </div>
            <div class="back">
              <div class="row">
                <div class="col s12">
                    <p class="center">Card Title</p>
                    <p class="center">I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Another category-->
      <div class="col s12 l4">
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <div class="row">
                <div class="col s12 m12">
                    <div class="card-content black-text center">
                      <img src="{% static 'registration/img/regex.png' %}" style="width:100px; height:100px;" class="responsive-img">
                      <h6 class="center" style="color:#ff5252"><b>Category Name3</b></h6>
                    </div>
                </div>
              </div>
            </div>
            <div class="back">
              <div class="row">
                <div class="col s12">
                    <p class="center">Card Title</p>
                    <p class="center">I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Another category-->
      <div class="col s12 l4">
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <div class="row">
                <div class="col s12 m12">
                    <div class="card-content black-text center">
                      <img src="{% static 'registration/img/IP.png' %}" style="width:100px; height:100px;" class="responsive-img">
                      <h6 class="center" style="color:#ff5252"><b>Category Name3</b></h6>
                    </div>
                </div>
              </div>
            </div>
            <div class="back">
              <div class="row">
                <div class="col s12">
                    <p class="center">Card Title</p>
                    <p class="center">I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!--   Icon Section   -->
      <div class="row center">
        <h3 class="header center cyan-text text-darken-4">Contests</h3>
      </div>
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="card hoverable" id="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'registration/img/img1.png' %}">
            </div>
            <div class="card-content">
              <span class="card-title cyan-text text-darken-4"><b> Contest Name</b></span>
              <div class="divider"></div><br>
              <p class="grey-text text-darken-2">Short Description of Contest</p><br>
              <table class="responsive-table striped">
                <tbody>
                  <tr>
                    <th class="center-align"> Start_Date : Date</th>
                    <th class="center-align"> End_Date : Date</th>
                  </tr>
                  <tr>
                    <th class="center-align"> Start_Time : Time</th>
                    <th class="center-align"> End_End : Time</th>
                  </tr>
                  <tr>
                    <td class="left-align"><i class="fas fa-arrow-right fa-sm"></i><a href="#" class="black-text" id="link"> Get Into Contest</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div class="card hoverable" id="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{% static 'registration/img/img1.png' %}">
            </div>
            <div class="card-content">
              <span class="card-title cyan-text text-darken-4"><b> Contest Name</b></span>
              <div class="divider"></div><br>
              <p class="grey-text text-darken-2">Short Description of Contest</p><br>
              <table class="responsive-table striped">
                <tbody>
                  <tr>
                    <th class="center-align"> Start_Date : Date</th>
                    <th class="center-align"> End_Date : Date</th>
                  </tr>
                  <tr>
                    <th class="center-align"> Start_Time : Time</th>
                    <th class="center-align"> End_End : Time</th>
                  </tr>
                  <tr>
                    <td class="left-align"><i class="fas fa-arrow-right fa-sm"></i><a href="#" class="black-text" id="link"> Get Into Contest</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
</main>
  {% endblock main_content %}

  {% block custom_eof_scripts %}
  {% endblock custom_eof_scripts %}
