{% extends "main_page/nav.html" %}
{% load static %}

{% block title %}
	    Recovery Mail Sent
{% endblock %}
	    {% block main_content %}
		<main>
		<div class="container">
			<div class="pass_reset ">
			<div class="row">
				<div style="font-size: 25px">
				    <p>Invalid activation link.Please activate your account by recent email activation link.</p>
              If you haven't recieved activation link, Click the below link.
				</div>
			</div>

			<div class="row">
				<div>
				    <a href="{% url 'registration:resend_activation_link' %}">Generate a new link</a>
				</div>
			</div>
		</div>
		</div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'common_assests/materialize/js/materialize.js' %}"></script>
    <script>
    $(document).ready(function () {
        $('.dropdown-button').dropdown({
            constrainWidth: false,
            hover: true,
            belowOrigin: true,
            alignment: 'left'
        });

        $('.button-collapse').sideNav();


        // JAVASCRIPT START HERE //

    });
</script>
</main>
	{% endblock %}
