{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Password Reset Complete</title>

    <link type="text/css" rel="stylesheet" href="{% static 'common_assests/materialize/css/materialize.css' %}" media="screen,projection"/>

    <style type="text/css">
    	h3 {
    		font-family: 'Lato',sans-serif;
    	}
    	.box {
    		height: 70px;
    		border-radius: 20px;
    		padding-bottom: 20px;
    	}
    	p {
    		font-size: 25px;
    	}
    </style>
</head>
<body>

		<div class="container">
			<div class="pass_reset ">
			<div class="row">
				<div style="font-size: 25px">
                    Your password has been successfully reset. You may go ahead and <a href="{% url 'registration:login' %}">login</a>
				</div>
			</div>

		</div>
		</div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'common_assests/materialize/js/materialize.js' %}"></script>
    <script>
    $(document).ready(function () {
        $('.dropdown-button').dropdown({
            constrainWidth: false,
            hover: true,
            belowOrigin: true,
            alignment: 'left'
        });

        $('.button-collapse').sideNav();


        // JAVASCRIPT START HERE //

    });
</script>
	</body>
</html>