{% extends 'main_page/nav.html' %}
{% load widget_tweaks %}
{% load static %}



{% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
{% endblock fonts %}

{% block title %}
    Reset Password
{% endblock title %}

{% block main_content %}

    <section>

        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <div class="card-panel center">
                        <h3 style="font-weight: bold;font-style: italic;color: #26a69a">Reset Password</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div>
                                Enter Your Email Id and, if an account with that email exists, we will send a password
                                reset link.
                            </div>
                            <div class="input-field">
                                <label for="{{ form.email.id_for_label }}"><span
                                        style="color: #26a69a">Enter Your Email</span></label>
                                {{ form.email|add_class:"validate" }}
                            </div>
                            <button type="submit" class="btn btn-large">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock main_content %}