{% load widget_tweaks %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'common_assests/materialize/css/materialize.css' %}" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style type="text/css">
        body {
            font-family: 'Lato',sans-serif;
            margin-top: 20px;
        }
    </style>

</head>
<body>
<header>

    <div class="container center">
        {% if validlink %}
        <h3 style="font-style: italic;font-weight: bolder;color:#26a69a">Set New Password</h3>
        <form method="post" action="">
            {% csrf_token %}
            <div class="input-field">
                <label for="{{ form.new_password1.id_for_label }}"><span style="color: #26a69a">Enter New Password</span></label><br>

            {{ form.new_password1|add_class:"validate" }}<br>
            </div>
            <div class="input-field">
            <label for="{{ form.new_password2.id_for_label }}"><span style="color: #26a69a">Re-Enter New Password</span></label><br>
            {{ form.new_password2|add_class:"validate" }}<br>
            </div>
            <div>
            <span style="color: red;font-weight: bold;font-style: italic;">{{ form.non_field_errors }}</span>
            <br>
            <span style="color: red;font-weight: bold;font-style: italic;">{{ form.new_password2.errors }}</span>
            </div>
            <button type="submit" class="btn">Set New Password</button>
        </form>

        {% else %}

            <b>This activation link is invalid.</b><br>
            This may be because of following reasons :
            <ol style="list-style-type:none">
                <li>The link has been tampered with</li>
                <li>The link has timed out</li>
                <li>A new link was generated which led to the deactivation of this link</li>
                <li>Your account has been blocked</li>
            </ol>

            For the first 3 cases you may initiate the <a href="{% url 'password_reset' %}">Forgot Password</a> sequence again.
            <br>
            <a href="#">Contact Us</a> if problem persists

        {% endif %}
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'common_assests/materialize/js/materialize.js' %}"></script>
    <script>
    $(document).ready(function () {
        $('.dropdown-button').dropdown({
            constrainWidth: false,
            hover: true,
            belowOrigin: true,
            alignment: 'left'
        });

        $('.button-collapse').sideNav();


        // JAVASCRIPT START HERE //

    });
    </script>

</body>
</html>