{% autoescape off %}
Hello {{ user.get_full_name }}
We have received a password request from your account

Your Username : {{ user.get_username }}

Click on the link below to reset your account password.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

This link is valid for 24 hours.

If you didn't initiate this, just login to your account and we will make the link invalid


Note: This is a system generated email. Please do not reply. Instead send a mail to techfesia@iiits.in

Sincerely,
Technical Support Team,

{% endautoescape %}
